html, body
    margin 0
    padding 0

#root 
    width 100%
    height 100%

.her-page
    border 1px solid black

.hidden 
    opacity 0
    z-index 0

div.her-input
    margin 4px 5px
    display inline-block       
    &[contenteditable]:empty::before 
        content attr(data-placeholder)  
