<style>
    .header { 
        font-family:Cinzel; 
        font-size:1.4em; 
        text-align: center; 
    }
    
    .black { color: #fafafa; background: black; } 
    .white { color: black; background: white; }
    
</style>
